{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just PHP-related talks. There have been
        sessions covering a wide range of topics supporting PHP developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
    <p>
        Due to financial constraints most conferences tend to pick speakers to present
        multiple talks. Therefore <strong>it is advisable to submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Databases and ORM</li>
        <li>Performance</li>
        <li>Clouds and Lambda</li>
        <li>PHP internals</li>
        <li>Application architecture and scalability</li>
        <li>Frameworks and libraries</li>
        <li>Drawbacks of hyped solutions</li>
        <li>Fighting legacy</li>
        <li>Asyncronous and parallel apps</li>
        <li>Best practices</li>
        <li>Real-life cases</li>
        <li>Building APIs (REST, SOAP, whatever)</li>
        <li>Professional development</li>
    </ul>
</div>
{% endblock %}

